body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin:0;
}

.assm-card-container {
    margin: 60px 200px 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.assm-card {
    background-color: #ADB3ED;
    position: relative; 
    padding: 15px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.assm-card-headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.assm-card-titles {
    font-size: 18px;
    font-weight: bold;
}

.assm-progress-bar-container {
    width: 60%; 
    height: 8px; 
    background-color: #e0e0e0; 
    border-radius: 5px;
    margin: 20px auto; 
}

.assm-progress-bar {
    height: 100%;
    background-color: #4B9C75;
    border-radius: 5px;
}

.assm-dropdown-icon {
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
}

.assm-card-details {
    margin-top: 10px;
    font-size: 14px;
    color: #555;

}
.assm-details-list {
    margin-top: 10px; 
}

.assm-detail-item {
    display: flex;
    align-items: center; 
    margin-bottom: 8px; 
}

.assm-donut-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    margin-right: 10px;
}
.assm-button-container {
    position: absolute; 
    bottom: 15px; 
    right: 15px;
}

.assm-action-button {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.assm-action-button:hover {
    background-color: #0056b3; 
}