
.line{
    border: 1px solid var(--bg);
    width: 90%; 
    margin: 20px auto; 
}
.title{
    color: white;
    font-style:normal;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex; 
    align-items: center;
    outline: none;
    user-select: none;
}

.title img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.sidebar {
    padding: 10px;
    margin-right: 20px; 
    left: -270px;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:var(--bar);
    filter:  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    transition: left 0.5s ease;
    z-index: 999; 
    outline: none;
    user-select: none;
 
}

.sidebar.open {
    left: 0;
 
}

.sidebar div {
    padding: 10px 20px;
    margin-bottom: 10px;
    
}

.sidebar a {
    display: flex; 
    align-items: center; 
    padding: 10px 20px;
    margin: 10px 0; 
    
}

.sidebar a img {
    margin-right: 10px;
    width: 20px;
    height: 10px;
}

.projects{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -20px;
    display: flex; 
    flex-direction: column;
}

.projects a {
    background-color: var(--container);
    border-radius: 10px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    display: flex;   
    justify-content: flex-start;
    text-align: left;            
    padding: 10px 40px; 
    border: 2px solid transparent;
    transition: border 0.3s ease; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.projects a:hover {
    background-color: var(--hover); 
    color: white;
    font-size: 0.8em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid var(--hover); 
    padding: 20px 50px;
}

.others {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.others li a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

.others li a:hover {
    color: var(--hover);
    font-size: 1.1em;
}
.add img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 220px;
    top: 73px;
    cursor: pointer;
}
.add img:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease, filter 0.3s ease;
}
