body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex; /* Changed to flex to align children vertically */
    flex-direction: column; /* Arrange children in a column */
}

.sidebar {
    width: 250px; 
    height: 100%;
    max-height: 1020vh; 
    background-color: #3D437D;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: white;
    flex-shrink: 0; 
    position: fixed; 
    transition: all 0.3s ease;
}
.sidebar-toggle {
    display: none; /* Hidden by default */
    background: none;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin: 10px 0;
}

.main-content {
    flex-grow: 1; 
    background-color: #ADB3ED; 
}

.sidebar h1 {
    margin-top: 50px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar a i {
    margin-right: 10px; /* Space between icon and text */
}

.sidebar a:hover {
    background-color: #575ea0; /* Improved hover effect */
}

.sidebar a.active {
    background-color: #6c73d2;
    font-weight: bold;
}

.container {
    display: flex; 
    flex-grow: 1; /* Allow container to grow and take up available space */
}
@media (max-width: 768px) {
    .sidebar {
        width: 60px; /* Reduced width for small screens */
    }

    .sidebar h2, 
    .sidebar a span { 
        display: none; /* Hide text but keep icons visible */
    }

    .sidebar-toggle {
        display: inline-block; /* Show the toggle button on small screens */
    }

    .main-content {
        margin-left: 60px; /* Adjust for smaller sidebar width */
    }
}
